@font-face { font-family: Poppins; src: url('../assets/fonts/Poppins-Medium.ttf'); } 
@font-face { font-family: Poppins; font-weight: bold; src: url('../assets/fonts/Poppins-Bold.ttf');}
@font-face { font-family: Poppins;  src: url('../assets/fonts/Poppins-Regular.ttf');}


* {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 400px) {
    * {
        margin: 0;
        font-size: 8px
    }
}

.header {
    background-image: url("../assets/Asset\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header-container{
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff
}

.header-button {
    padding: 1em 4em;
    background-color: white;
    border: 0;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.logo {
    height: 150px;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 3.5em;
    padding-bottom: 10px;
}

p {
    font-size: 2em;
    font-weight: bold;
}

.categories {
    padding: 5em;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'firstleft firstleft firstright firstright firstright firstright'
    'middle middle middle middle middle middle'
    'footerleft footerleft footerleft footerleft footerright footerright';
    grid-gap: 1em;
    background-color: #fff;
}

.grid-container > div {
    height: 400px;
    padding: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 400px) {
    .grid-container > div {
        max-height: 200px;
        padding: 2em;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        display: flex;
        flex-direction: column;
    }
}

.categories-header {
    margin-bottom: 5em;
}

.first-row-left{
    background-image: url("../assets/Asset\ 3.png");
    grid-area: firstleft;
}

.first-row-right{
    background-image: url("../assets/Asset\ 4.png");   
    grid-area: firstright;
}

.center-row{
    background-image: url("../assets/Asset\ 5.png");
    grid-area: middle;
    display: flex;
    justify-content: center;
}

.footer-grid-left {
    background-image: url("../assets/Asset\ 6.png");
    display: flex;
    align-items: flex-end;
    grid-area: footerleft ;
}

.footer-grid-right {
    background-image: url("../assets/Asset\ 7.png");
    grid-area: footerright ;
}


.plans {
    padding: 5em;
    background-color: #f2f2f2;
}

.plans-header {
    z-index: 1;
    position: absolute;
}

@media only screen and (max-width: 1025px) {
    .plans-header {
        z-index: 0;
        position: relative;
        margin-bottom: 5em;
    }
}

.plans-block{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: -1;
}

@media only screen and (max-width: 1025px) {
    .plans-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.plans-block > div {
    max-width: 250px;
    margin: 10px
}

.plan-header {
    background-color: #054a8c;
    color: white;
    padding: 20px;
}

.plan-description-block > p {
    padding: 1.5em;
    background-color: #0088ED;
    color: white;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.description-plan-1 {
    min-height: 60px
}
.description-plan-2 {
    min-height: 120px
}
.description-plan-3 {
    min-height: 180px
}
.description-plan-4 {
    min-height: 240px
}
.description-plan-5 {
    min-height: 300px
}
.description-plan-6 {
    min-height: 360px
}
